NEXTJS_FRONTEND_CLIENT_ID=web
NEXTJS_FRONTEND_CLIENT_SECRET=ImoXfRfznpEhns4M5rupCCvcCeIPfbeB
NEXTJS_BFF_CLIENT_ID=nextjs-bff-client
NEXTJS_BFF_CLIENT_SECRET=E87EF189-D138-4429-8542-F11B401DAF2A
NEXT_PUBLIC_BASE_URL=http://localhost:3000
SPRING_BOOT_API_URL=http://localhost:8081/api/v1
NEXT_PUBLIC_SSE_SERVER=http://localhost:9092
AUTH_SERVICE_URL=http://localhost:8080
JWT_ISSUER_URI=http://localhost:8080/realms/heapdog
JWK_SET_URI=http://localhost:8080/realms/heapdog/protocol/openid-connect/certs
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=heapdog
NEXT_PUBLIC_APP_ENV=development
